
body{
    margin: 0;
    padding: 0;
    color: turquoise;
    background-image:url(lv1.jgp)no-repeat;
    width: 100%;
    height: 100vh;
    background-size:cover ;
    background-position: center;
}